<!DOCTYPE html>
<html lang="en">
<head>
    <title>DBMS Final Project</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="header-title">
            <h1>Turtle's Cup Cafe</h1>
        </div>
        <br>
        <div class="subheader-title">
            <h3>Turtle & Hare</h3>
        </div>
        <div class="subheader-description">
            <h5>Inventory Management System</h5>
        </div>
    </header>

    <section class="landing-page">
        <div class="get-started">
            <button id="popover-show" popovertarget="login-popover">Get Started</button>                
        </div>
        <div id="login-popover" popover>
            <form id="form-log-in">
                <label for="username">Username:</label>
                <input type="text" id="username" placeholder="Enter your Username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Enter your Password" required>

                <input type="submit" id="button-log-in" value="Log-in">
                <button type="reset">Clear</button>
            </form>
        </div>
    </section>

    <section id="user-dash" class="hidden">
        <form><button type="button" id="button-log-out">Log-out</button></form>    
    </section>

    <footer>
        <div class="footer">
            <p>&copy; 2024 Turtle's Cup Cafe. All rights reserved.</p>
        </div>
    </footer>

    <script src="../static/script.js" defer></script>
</body>
</html>